.phone {
    background-image: url('/src/img/phons/фон1.png');
    height: 100vh;
}



h1, h2, h3, h4, h5, p {
    color: #223549;
}

p {
    font-weight: 500;
}

h2:after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 70px;
    padding-top: 25px ;
    border-bottom: 4px solid #fcac45;
}

